<article
  class="task-card"
  role="button"
  tabindex="0"
  (click)="openTask()"
  (keydown.enter)="openTask()"
>
  <h3 class="task-card__title text-heading-m">{{ task().title }}</h3>
  @if (totalSubtasks() > 0) {
    <p class="task-card__subtasks text-body-m">
      {{ completedSubtasks() }} of {{ totalSubtasks() }} subtasks
    </p>
  }
  @if (formattedDueDate() || task().assignedTo) {
    <div class="task-card__meta">
      @if (formattedDueDate()) {
        <span class="task-card__due-date text-body-m">{{ formattedDueDate() }}</span>
      }
      @if (task().assignedTo; as assignee) {
        <span class="task-card__assignee text-body-m">{{ assignee.name }}</span>
      }
    </div>
  }
</article>
